<configuration>
    <contextName>BlockChain</contextName>
    <appender name="FileForService" class="ch.qos.logback.core.FileAppender">
        <file>./log/ServiceLoger.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FileForRest" class="ch.qos.logback.core.FileAppender">
        <file>./log/RestLoger.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.controller.FileUploadService" additivity="true" level="debug">
        <appender-ref ref="FileForService"/>
    </logger>

    <logger name="ru.controller.FileUploadController" additivity="true" level="debug">
        <appender-ref ref="FileForRest"/>
    </logger>
    <logger name="ru.responses.FileUploadExceptionAdvice" additivity="true" level="debug">
        <appender-ref ref="FileForRest"/>
    </logger>



    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
