#showAddText:checked + textarea
{
    visibility: visible;
}

#plainText
{
    display: block;
    margin: 1em auto;
    visibility: hidden;
    resize: none;
}

.badge-delete
{
    cursor: pointer;
}