html, body
{
    margin:0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#showAddText:checked + textarea
{
    visibility: visible;
}

#plainText
{
    display: block;
    margin: 1em auto;
    visibility: hidden;
    resize: none;
}

.badge-delete
{
    cursor: pointer;
}

.list-group, .list-group-flush
{
    height: auto;
    max-height: 60vh;
    overflow-x: hidden;
}